<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Recipes</h1>
    <p><a href="/recipes/new">Add New Recipe</a></p>
    <% if(recipes) { %>
    <ul>
      <% recipes.forEach(recipe => { %>
        <li><a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a></li> 
      <% }); %>
  </ul>
  <% } else { %>
    <p>You have not created any recipes yet.</p>
  <% }; %>
  </body>
</html>